*{
    margin: 0;
    padding: 0;
    
}

header{
    background-color:#544141;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.header-logo{
    display: flex;
}

header ul{
    display: flex;
    list-style: none;
    
}

header ul li{
    margin-right: 30px;
    font-size: 20px;
    color:white;
    font-weight: bolder;
}

/* section 1 */

.section-1{
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.01),rgba(0, 0, 0, 0.93));
    background-blend-mode: overlay;
    background-position: center;
    padding-top: 300px ;
    background-size: cover;
}

.button-design{
     
    text-align: center;
    margin-top: 29px;
    justify-content: center;
    border: none;

}

.section-2{

    height: 100vh;
    background-color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-img img{

    width: 200px;
    height: 200px;
}





